{% load static %}

<li class="sidebar-main-title">
    <div>
        <h5 class="sidebar-title pt-3 f-w-700">Pages</h5>
    </div>
    </li>
    <li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="landing-page.html">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Wallet"></use>
        </svg>
        <h6 class="f-w-600">Landing page</h6></a></li>
    <li class="sidebar-list"><i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="sample-page.html">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Paper-plus"></use>
        </svg>
        <h6 class="f-w-600">Sample page</h6></a></li>
    <li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="internationalization.html">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Play"></use>
        </svg>
        <h6 class="f-w-600">Internationalization</h6></a></li>
    <li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="../starter-kit/index.html" target="_blank">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Star-kit"></use>
        </svg>
        <h6 class="f-w-600">Starter kit</h6></a></li>
    <li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Password"></use>
        </svg>
        <h6 class="f-w-600">Others</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li><a class="submenu-title" href="javascript:void(0)">Error Page<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="error-page1.html">Error page 1</a></li>
            <li> <a href="error-page2.html">Error page 2</a></li>
            <li> <a href="error-page3.html">Error page 3</a></li>
            <li> <a href="error-page4.html">Error page 4</a></li>
            <li> <a href="error-page5.html">Error page 5</a></li>
            <li> <a href="error-page6.html">Error page 6</a></li>
        </ul>
        </li>
        <li><a class="submenu-title" href="javascript:void(0)"> Authentication<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="login.html" target="_blank">Login Simple</a></li>
            <li> <a href="login_one.html" target="_blank">Login with bg image</a></li>
            <li> <a href="login_two.html" target="_blank">Login with image two</a></li>
            <li> <a href="login-bs-validation.html" target="_blank">Login With validation</a></li>
            <li> <a href="login-bs-tt-validation.html" target="_blank">Login with tooltip</a></li>
            <li> <a href="login-sa-validation.html" target="_blank">Login with sweetalert</a></li>
            <li> <a href="sign-up.html" target="_blank">Register Simple</a></li>
            <li> <a href="sign-up-one.html" target="_blank">Register with Bg Image</a></li>
            <li> <a href="sign-up-two.html" target="_blank">Register with image two</a></li>
            <li> <a href="sign-up-wizard.html" target="_blank">Register wizard</a></li>
            <li> <a href="unlock.html">Unlock User</a></li>
            <li> <a href="forget-password.html">Forget Password</a></li>
            <li> <a href="reset-password.html">Reset Password</a></li>
            <li> <a href="maintenance.html">Maintenance</a></li>
        </ul>
        </li>
        <li><a class="submenu-title" href="javascript:void(0)">Coming Soon<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="comingsoon.html">Coming Simple</a></li>
            <li> <a href="comingsoon-bg-video.html">Coming with Bg video</a></li>
            <li> <a href="comingsoon-bg-img.html">Coming with Bg Image</a></li>
        </ul>
        </li>
        <li><a class="submenu-title" href="javascript:void(0)">Email templates<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="basic-template.html">Basic Email</a></li>
            <li> <a href="email-header.html">Basic With Header</a></li>
            <li> <a href="template-email.html">Ecomerce Template</a></li>
            <li> <a href="template-email-2.html">Email Template 2</a></li>
            <li> <a href="ecommerce-templates.html">Ecommerce Email</a></li>
            <li> <a href="email-order-success.html">Order Success</a></li>
        </ul>
        </li>
    </ul>
    </li>