{% load static %}

<li class="sidebar-main-title">
    <div>
        <h5 class="sidebar-title pt-3 f-w-700">Miscellaneous</h5>
    </div>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Gallery"></use>
        </svg>
        <h6 class="f-w-600">Gallery</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="#">Gallery Grid</a></li>
        <li> <a href="#">Gallery Grid Desc</a></li>
        <li> <a href="#">Masonary Gallery</a></li>
        <li> <a href="#">Masonary With Desc</a></li>
        <li> <a href="#">Hover Effects</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Game"></use>
        </svg>
        <h6 class="f-w-600">Blog</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="blog.html">Blog Details</a></li>
        <li> <a href="blog-single.html">Blog Single</a></li>
        <li><a href="add_post.html">Add Post</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <a class="sidebar-link" href="faq.html"> 
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Danger"></use>
        </svg>
        <h6 class="f-w-600">FAQ</h6>
    </a>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Filter-2"></use>
        </svg>
        <h6 class="f-w-600">Job Search</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="job-cards-view.html">Card view</a></li>
        <li> <a href="job-list-view.html">List view</a></li>
        <li><a href="job-details.html">Job details   </a></li>
        <li><a href="job-apply.html">Apply</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Work"></use>
        </svg>
        <h6 class="f-w-600">Learning</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="learning_list_visit.html">Learning List</a></li>
        <li> <a href="learning_detailed.html">Learning Detailed</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Discovery"></use>
        </svg>
        <h6 class="f-w-600">Maps</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="data-map.html">Data Map</a></li>
        <li> <a href="vector-map.html">Vector Maps</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Shield"></use>
        </svg>
        <h6 class="f-w-600">Editors</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="quilleditor.html">Quill editor</a></li>
        <li> <a href="ace-code-editor.html">ACE Code Editor</a></li>
    </ul>
</li>
<li class="sidebar-list"> 
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="knowledgebase.html">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Setting"></use>
        </svg>
        <h6 class="f-w-600">Knowledgebase</h6>
    </a>
</li>
<li class="sidebar-list"> 
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="#">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Ticket"></use>
        </svg>
        <h6 class="f-w-600">Support Ticket</h6>
    </a>
</li>