{% load static %}

<li class="sidebar-main-title">
    <div>
        <h5 class="lan-1 f-w-700 sidebar-title">Principal</h5>
    </div>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)"> 
        <svg class="stroke-icon" id="Home-dashboard" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g fill="none" fill-rule="evenodd" clip-rule="evenodd" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M9.15722 20.7714V17.7047C9.1572 16.9246 9.79312 16.2908 10.581 16.2856H13.4671C14.2587 16.2856 14.9005 16.9209 14.9005 17.7047V17.7047V20.7809C14.9003 21.4432 15.4343 21.9845 16.103 22H18.0271C19.9451 22 21.5 20.4607 21.5 18.5618V18.5618V9.83784C21.4898 9.09083 21.1355 8.38935 20.538 7.93303L13.9577 2.6853C12.8049 1.77157 11.1662 1.77157 10.0134 2.6853L3.46203 7.94256C2.86226 8.39702 2.50739 9.09967 2.5 9.84736V18.5618C2.5 20.4607 4.05488 22 5.97291 22H7.89696C8.58235 22 9.13797 21.4499 9.13797 20.7714V20.7714" />
            </g>
        </svg>
        <h6>Dashboards</h6>
        <span class="badge">3</span>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="#">Fretes</a></li>
        <li><a href="dashboard-02.html">Contas a Pagar</a></li>
        <li> <a href="dashboard-03.html">Contas a Receber</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="stroke-icon bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
        </svg>
        <h6>Cadastros</h6>
        <span class="badge">3</span>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="#">Pessoas Físicas</a></li>
        <li><a href="#">Empresas</a></li>
        <li><a href="#">Motoristas</a></li>
        <li><a href="#">Prestadores de Serviços</a></li>
        <li><a href="#">Fornecedores</a></li>
        <li><a href="#">Proprietários de Veículos</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Embarcadores</a></li>
        <li><a href="#">Pessoas Físicas</a></li>
        <li><a href="#">Locais de Carga/Descarga</a></li>
        <li><a href="#">Pessoas Físicas</a></li>
        <li><a href="#">Pontos de Apoio</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="stroke-icon bi bi-truck-flatbed" viewBox="0 0 16 16">
            <path d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5M3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2m1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1"/>
        </svg>
        <h6>Veículos</h6>
        <span class="badge">3</span>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="box-layout.html">Próprios</a></li>
        <li><a href="layout-rtl.html">Terceiros</a></li>
        <li><a href="layout-dark.html">Implementos</a></li>
    </ul>
</li>