{% load static %}

<li class="sidebar-main-title">
    <div>
        <h5 class="sidebar-title pt-3 f-w-700">Tables & Forms</h5>
    </div>
    </li>
    <li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Filter"></use>
        </svg>
        <h6 class="f-w-600">Forms</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li><a class="submenu-title" href="javascript:void(0)">form-control<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="base-input.html">Base input</a></li>
            <li> <a href="form-validation.html">Form validation</a></li>
            <li> <a href="radio-checkbox-control.html">Checkbox & Radio </a></li>
            <li> <a href="input-group.html">Input group</a></li>
            <li> <a href="input-mask.html">Input mask</a></li>
            <li> <a href="megaoptions.html">Mega Options                                                    </a></li>
        </ul>
        </li>
        <li><a class="submenu-title" href="javascript:void(0)">Form Widgets<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="datepicker.html">Datepicker</a></li>
            <li> <a href="touchspin.html">Touchspin</a></li>
            <li> <a href="select2.html">Select2 </a></li>
            <li> <a href="switch.html">Switch </a></li>
            <li> <a href="typehead.html">Typehead </a></li>
            <li> <a href="clipboard.html">Clipboard</a></li>
        </ul>
        </li>
        <li><a class="submenu-title" href="javascript:void(0)">Form Layout<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="form-wizard.html">Form wizard 1</a></li>
            <li> <a href="form-wizard-two.html">Form wizard 2</a></li>
            <li> <a href="form-wizard-three.html">Two factor</a></li>
        </ul>
        </li>
    </ul>
    </li>
    <li class="sidebar-list"> <i class="fa-solid fa-thumbtack"></i><a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Edit-line"></use>
        </svg>
        <h6 class="f-w-600">Tables</h6><i class="iconly-Arrow-Right-2 icli"> </i></a>
    <ul class="sidebar-submenu">
        <li><a class="submenu-title" href="javascript:void(0)">Bootstrap Tables<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="basic-table.html">Basic Tables</a></li>
            <li> <a href="table-components.html">Table components</a></li>
        </ul>
        </li>
        <li><a class="submenu-title" href="javascript:void(0)">Data Tables<i class="iconly-Arrow-Right-2 icli"> </i></a>
        <ul class="according-submenu">
            <li> <a href="datatable-basic-init.html">Basic Init</a></li>
            <li> <a href="datatable-advance.html">Advance Init</a></li>
            <li> <a href="datatable-API.html">API</a></li>
            <li><a href="datatable-data-source.html">Data Sources</a></li>
        </ul>
        </li>
        <li> <a href="datatable-ext-autofill.html">Ex. Data Tables</a></li>
        <li> <a href="jsgrid-table.html">Js Grid Table         </a></li>
    </ul>
    </li>