{% load static %}

<li class="sidebar-main-title">
    <div>
        <h5 class="f-w-700 sidebar-title pt-3">Operacional</h5>
    </div>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="buttons.html">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#More-box"></use>
        </svg>
        <h6 class="f-w-600">buttons </h6>
    </a>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
        <use href="../assets/svg/iconly-sprite.svg#Folder"></use>
        </svg>
        <h6 class="f-w-600">Ui Kits</h6>
        <i class="iconly-Arrow-Right-2 icli"> </i>
    </a>
    <ul class="sidebar-submenu">
        <li> <a href="typography.html">Typography</a></li>
        <li><a href="avatars.html">Avatars</a></li>
        <li> <a href="alert.html">Alert</a></li>
        <li> <a href="helper-classes.html">Helper classes</a></li>
        <li> <a href="grid.html">Grid</a></li>
        <li> <a href="accordion.html">Accordion</a></li>
        <li> <a href="tag-pills.html">Tag pills</a></li>
        <li> <a href="modal.html">Modal </a></li>
        <li> <a href="popover.html">Popover </a></li>
        <li> <a href="progress-bar.html">Progress bar</a></li>
        <li> <a href="tab-bootstrap.html">Tab bootstrap</a></li>
        <li> <a href="tooltip.html">Tooltip</a></li>
        <li> <a href="dropdown.html"> Dropdown</a></li>
        <li> <a href="list.html">List</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
            <svg class="stroke-icon">
                <use href="../assets/svg/iconly-sprite.svg#Ticket-star"></use>
            </svg>
        <h6 class="f-w-600">Bonus Ui</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu"> 
        <li><a href="scrollable.html">Scrollable</a></li>
        <li> <a href="tree.html">Tree view </a></li>
        <li><a href="toasts.html">Toasts </a></li>
        <li> <a href="rating.html">Rating</a></li>
        <li> <a href="dropzone.html">Dropzone</a></li>
        <li> <a href="tour.html">Tour</a></li>
        <li> <a href="sweetalert2.html">Sweetalert2 </a></li>
        <li> <a href="modal-animated.html">Animated Modal</a></li>
        <li> <a href="slider.html">Slider</a></li>
        <li> <a href="ribbons.html">Ribbons</a></li>
        <li><a href="pagination.html">Pagination</a></li>
        <li> <a href="breadcrumb.html">Breadcrumb</a></li>
        <li> <a href="range-slider.html">Range slider</a></li>
        <li> <a href="image-cropper.html">Image cropper</a></li>
        <li> <a href="basic-card.html">Basic Card</a></li>
        <li> <a href="creative-card.html">Creative Card</a></li>
        <li> <a href="dragable-card.html">Dragable Card </a></li>
        <li> <a href="timeline.html">Timeline</a></li>
    </ul>
</li>
<li class="sidebar-list"> 
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Category"></use>
        </svg>
        <h6 class="f-w-600">Animation </h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu"> 
        <li>  <a href="AOS.html">aos</a></li>
        <li>  <a href="WOW.html">wow</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Activity"></use>
        </svg>
        <h6 class="f-w-600">Icon</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
    <ul class="sidebar-submenu"> 
        <li><a href="font-awesome.html">Fontawesome icon</a></li>
        <li><a href="feather_icon.html">Feather icon</a></li>
        <li> <a href="iconly-icon.html">Iconly icon </a></li>
        <li> <a href="themify-icon.html">Themify Icon</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa-solid fa-thumbtack"></i>
    <a class="sidebar-link" href="javascript:void(0)">
        <svg class="stroke-icon">
            <use href="../assets/svg/iconly-sprite.svg#Chart"></use>
        </svg>
        <h6 class="f-w-600">Charts</h6>
        <i class="iconly-Arrow-Right-2 icli"></i>
    </a>
<ul class="sidebar-submenu">
    <li><a href="echarts.html">Echarts</a></li>
    <li> <a href="apex_chart.html">Apex Chart</a></li>
    <li> <a href="chart-google.html">Google Chart</a></li>
    <li> <a href="chart-sparkline.html">Sparkline chart</a></li>
    <li> <a href="chart-flot.html">Flot Chart</a></li>
    <li> <a href="chart-knob.html">Knob Chart</a></li>
    <li> <a href="chart-morris.html">Morris Chart</a></li>
    <li> <a href="chartjs.html">Chatjs Chart</a></li>
    <li> <a href="chartist_chart.html">Chartist Chart</a></li>
    <li><a href="chart-peity.html">Peity Chart</a></li>
</ul>
</li>