{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% include 'partial/_title.html' %}

<meta name="description" content="colocar palavras que definem o template"/>
<meta name="keywords" content="admin freight, dashboard freight, responsive admin, web app"/>
<meta name="author" content="Luciano da Cunha Lopes"/>

{% include 'partial/_favicon.html' %}

{% include 'partial/_fonts.html' %}

{% include 'partial/_styles.html' %}