{% load static %}

<div class="col-xxl-3 col-xl-4 proorder-xxl-9 col-md-6 box-col-5">
        <div class="card">
            <div class="card-header card-no-border pb-0">
            <div class="header-top">
                <h3>Audit log</h3>
                <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown4" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown4"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
                </div>
            </div>
            </div>
            <div class="card-body audit-log"> 
            <ul> 
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-success"><img src="../assets/images/dashboard-1/icon/checked.png" alt=""/></div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Route P204_salesfores created</h6></a>
                    <p>Andre Sluczka</p>
                </div><span>2 hours</span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-warning"><img src="../assets/images/dashboard-1/icon/danger.png" alt=""/></div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>R304_salesforece undeployed</h6></a>
                    <p>Fabian Beliza</p>
                </div><span>4 hours </span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-danger"><img src="../assets/images/dashboard-1/icon/cancel.png" alt=""/></div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>R304_salesforece failed...</h6></a>
                    <p>Michael Ganatra</p>
                </div><span>10 Jun</span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-success"><img src="../assets/images/dashboard-1/icon/checked.png" alt=""/></div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>New environment DEV created</h6></a>
                    <p>Wade Warren</p>
                </div><span>22 Jun </span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-success"><img src="../assets/images/dashboard-1/icon/checked.png" alt=""/></div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Project salesforce created</h6></a>
                    <p>Bessie Cooper</p>
                </div><span>10 july </span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-warning"><img src="../assets/images/dashboard-1/icon/danger.png" alt=""/></div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>G202_Salesforce undeployed</h6></a>
                    <p>Andre Sluczka</p>
                </div><span>22 Jun </span>
                </li>
            </ul>
            </div>
        </div>
        </div>