{% load static %}
<div class="col-xxl-5 col-xl-6 proorder-xxl-7 col-lg-12 box-col-12">
        <div class="card job-card">
            <div class="card-header pb-0 card-no-border">
            <div class="header-top">
                <h3>Job Today</h3>
                <div>  
                <p>Wednesday 6, <span>Dec 2022</span></p>
                </div>
            </div>
            </div>
            <div class="card-body pt-2">
            <ul class="d-flex align-center justify-content-center gap-3"> 
                <li>
                <div class="d-flex gap-2"> 
                    <div class="flex-shrink-0 bg-light-primary">
                    <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#job-bag"></use>
                    </svg>
                    </div>
                    <div class="flex-grow-1"> 
                    <h3>40</h3>
                    <p>Total Jobs </p>
                    </div>
                </div>
                </li>
                <li>
                <div class="d-flex gap-2"> 
                    <div class="flex-shrink-0 bg-light-secondary">
                    <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#employees"></use>
                    </svg>
                    </div>
                    <div class="flex-grow-1"> 
                    <h3>30</h3>
                    <p>Employees</p>
                    </div>
                </div>
                </li>
                <li>
                <div class="d-flex gap-2"> 
                    <div class="flex-shrink-0 bg-light-warning">
                    <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#hours-work"></use>
                    </svg>
                    </div>
                    <div class="flex-grow-1"> 
                    <h3>40</h3>
                    <p>Hours of work</p>
                    </div>
                </div>
                </li>
            </ul>
            <div class="table-responsive theme-scrollbar">
                <table class="table display" style="width:100%">
                <thead>
                    <tr> 
                    <th>Time </th>
                    <th>Job </th>
                    <th>Company</th>
                    <th class="text-center">Employee </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>10:AM</td>
                    <td>Maintenace</td>
                    <td>Apple Inc.</td>
                    <td> 
                        <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0"><img src="../assets/images/dashboard-1/user/1.png" alt=""/></div>
                        <div class="flex-grow-1">
                            <h6>Michele Ronaldo</h6>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td>07:AM</td>
                    <td>General</td>
                    <td>Hewlett packard</td>
                    <td> 
                        <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0"><img src="../assets/images/dashboard-1/user/2.png" alt=""/></div>
                        <div class="flex-grow-1">
                            <h6>Naomi watson</h6>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td>03:AM</td>
                    <td>Cleaning</td>
                    <td>Microsoft</td>
                    <td> 
                        <div class="d-flex align-items-center gap-2">
                        <div class="flex-shrink-0"><img src="../assets/images/dashboard-1/user/3.png" alt=""/></div>
                        <div class="flex-grow-1">
                            <h6>Dann Petty</h6>
                        </div>
                        </div>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>