{% load static %}

<div class="col-xxl-3 col-xl-4 proorder-xxl-12 col-md-6 box-col-6">
        <div class="card">
            <div class="card-header card-no-border pb-0">
            <div class="header-top">
                <h3>Latest Activity</h3>
                <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown6" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown6"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
                </div>
            </div>
            </div>
            <div class="card-body latest-activity">
            <ul> 
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-primary border-light-primary">
                    <svg class="stroke-icon stroke-primary">
                    <use href="../assets/svg/icon-sprite.svg#box"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Added new repository</h6></a>
                    <p>Fabpot/symfony-docker</p>
                </div><span>2 hours</span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-warning border-light-warning">
                    <svg class="stroke-icon stroke-warning">
                    <use href="../assets/svg/icon-sprite.svg#dolar"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Added new work</h6></a>
                    <p>Private Contributions</p>
                </div><span>4 hours</span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-danger border-light-danger">
                    <svg class="stroke-icon stroke-danger">
                    <use href="../assets/svg/icon-sprite.svg#round-right"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Review</h6></a>
                    <p>Reviewed repositories</p>
                </div><span>10 Jun </span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-primary border-light-primary">
                    <svg class="stroke-icon stroke-primary">
                    <use href="../assets/svg/icon-sprite.svg#pie-chart"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Upload documents</h6></a>
                    <p>Development Startup</p>
                </div><span>22 Jun </span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-warning border-light-warning">
                    <svg class="stroke-icon stroke-warning">
                    <use href="../assets/svg/icon-sprite.svg#globe"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Opened issue</h6></a>
                    <p>Private Contributions</p>
                </div><span>10 july </span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-danger border-light-danger">
                    <svg class="stroke-icon stroke-none">
                    <use href="../assets/svg/icon-sprite.svg#box-user"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Customer added by @jhon</h6></a>
                    <p>Fabpot/symfony-docker</p>
                </div><span>26 Jun</span>
                </li>
                <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-light-primary border-light-primary">
                    <svg class="stroke-icon stroke-primary">
                    <use href="../assets/svg/icon-sprite.svg#work-bag"></use>
                    </svg>
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                    <h6>Added new work</h6></a>
                    <p>Contributions repositories</p>
                </div><span>22 Jun</span>
                </li>
            </ul>
            </div>
        </div>
        </div>
