{% load static %}

<div class="col-xxl-3 col-xl-4 proorder-xxl-10 col-md-6 box-col-6">
        <div class="card height-equal">
            <div class="card-header card-no-border pb-0">
            <div class="header-top">
                <h3>News & Update</h3>
                <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown8" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown8"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
                </div>
            </div>
            </div>
            <div class="card-body news-update"> 
            <ul> 
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/1.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Google project apply reviwe</h6></a>
                    <p class="text-truncate">Today’s news headlines,Breaking...</p>
                </div><span>2 hours</span>
                </li>
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/2.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Business logo create</h6></a>
                    <p class="text-truncate">check out the latest news from...</p>
                </div><span>4 hours</span>
                </li>
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/3.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Business project research</h6></a>
                    <p class="text-truncate">News in english: get all Breaking...</p>
                </div><span>6 hours</span>
                </li>
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/4.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Recruitment in it Department</h6></a>
                    <p class="text-truncate">Technology and indian business</p>
                </div><span>8 hours</span>
                </li>
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/5.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Business project research</h6></a>
                    <p class="text-truncate">Contributions private repositories</p>
                </div><span>1 hours</span>
                </li>
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/6.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Submit riverfront project</h6></a>
                    <p class="text-truncate">check out the latest news from...</p>
                </div><span>3 hours</span>
                </li>
                <li class="d-flex gap-2"> 
                <div class="flex-shrink-0"><img class="img-fluid" src="../assets/images/dashboard-1/news-update/7.png" alt=""/></div>
                <div class="flex-grow-1"> <a href="private-chat.html"> 
                    <h6>Added new work</h6></a>
                    <p class="text-truncate">Today’s news headlines,Breaking...</p>
                </div><span>5 hours</span>
                </li>
            </ul>
            </div>
        </div>
        </div>