{% load static %}

<div class="col-xxl-3 col-xl-5 proorder-xxl-4 col-md-6 box-col-6">
        <div class="card">
            <div class="card-header card-no-border pb-0">
            <div class="header-top">
                <h3>Top Users</h3>
                <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown7" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown7"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
                </div>
            </div>
            </div>
            <div class="card-body top-user pt-2">
            <ul>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/01.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Alice Goodwin</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-success border-light-success text-success">Completed</button><span>$250.00</span>
                </li>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/02.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Smith Lovell</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-success border-light-success text-success">Completed</button><span>$682.00</span>
                </li>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/03.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Jones Brooks</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-warning border-light-warning text-warning">Pending</button><span>$387.00</span>
                </li>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/04.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Brown Acum</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-danger border-light-danger text-danger">Canceled</button><span>$355.00</span>
                </li>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/05.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Evans Mayo</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-success border-light-success text-success">Completed</button><span>$584.00</span>
                </li>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/06.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Wilson Pipes</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-success border-light-success text-success">Completed</button><span>$954.00</span>
                </li>
                <li class="d-flex align-items-center justify-content-between gap-2"> 
                <div class="d-flex gap-2">
                    <div class="flex-shrink-0 comman-round"><img src="../assets/images/dashboard-1/user/07.png" alt=""/></div>
                    <div><a href="#"> 
                        <h6>Alice Pindar</h6></a>
                    <p> 
                        <svg class="stroke-icon">
                        <use href="../assets/svg/icon-sprite.svg#map-icon"></use>
                        </svg>Texas
                    </p>
                    </div>
                </div>
                <button class="btn bg-light-danger border-light-danger text-danger">Canceled</button><span>$756.00</span>
                </li>
            </ul>
            </div>
        </div>
        </div>